{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        <img width="16" height="28" alt="Time" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcCAYAAABoMT8aAAABqUlEQVR42t2Vv0sCYRyHX9OmEhsMx/YKGlwLQ69DTEUSBJEQEy5J3FRc/BsuiFqEIIcQIRo6ysUhoaBBWhoaGoJwiMJLglRKrs8bXgienmkQdPDAwX2f57j3fhFJkkbiPwTK5bIiFoul3kmPud8MqKMewDXpwuGww+12n9hsNhFnlijYf/Z4PDmO45Yxo+10ZFGTyWRMEItU6AdCx7lczkgd6n7J2Wx2xm63P6jJMk6n80YQBBN1aUDv9XqvlAbbm2LE7/cLODRB0un0VveAeoDC8/waCQQC18MGQqHQOcEKvw8bcLlcL6TfYnVtCrGRAlartUUYhmn1jKg/E3USjUYfhw3E4/F7ks/nz4YNFIvFQ/ogbUYikdefyqlU6gnuOg2YK5XKvs/n+xhUDgaDTVEUt+HO04ABOBA5isViDTU5kUi81Wq1AzhWMEkDGmAEq2C3UCjcYXGauDvfEsuyUjKZbJRKpVvM8IABU9SVX+cxYABmwIE9cFqtVi9xtgvsC2AHbIAFoKey0gdlHEyDObAEWLACFsEsMALdIJ80+dK0bTS95v7+v/AJnis0eO906QwAAAAASUVORK5CYII=">
        <span>Command</span>
    {% endset %}
    {% set text %}
		<div class="sf-toolbar-info-piece">
            <b>Cache clear</b>
            <span><a href="/app_dev.php/proccess/cache:clear">Push</a></span>
        </div>    

		<div class="sf-toolbar-info-piece">
            <b>Assets install</b>
            <span><a href="/app_dev.php/proccess/assetic:dump" >Push</a></span>
        </div>         
    
		<div class="sf-toolbar-info-piece">
            <b>Schema update</b>
            <span><a href="/app_dev.php/proccess/doctrine:schema:update --force">Push</a></span>
        </div>        

    {% endset %}
    {% include '@WebProfiler/Profiler/toolbar_item.html.twig' with { 'link': profiler_url } %}
{% endblock %}

{% block menu %}
<span class="icon"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAABEJAAARCQHA5aIYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDoAABSCAABFVgAADqXAAAXb9daH5AAAAEzSURBVHja7JexTsMwFEXvcxOLSkgwETpR8QUoYclIGDoxdeQLqozM3RlgRGwsfAILDMCCYEH5hjJlBiFVwkSXxUgstEGV40rE05Mt+R4/P1/rCUn4HAqeRwAAIiJxHA9EZBfAqmPNd5LPRVHckKSkado1xlyR3G/y5CJyG4bhQSeKomMAhx6yv11V1YoCMPRYAkMFoO8RoL8crwAAsrxsVPjurLccPtACzAR4uty49gowfesMvovFC0CWlwKALiHm1oBriFpFaCHgAkLVNI1XV2alaoqvuXLKYBHxeVdSB/pXgPvz3guA9RmbfGZ5GTjLwN6o3Foke+1f0AL8BWDStOjDxeajDSeSJMkJgCM78QFg6li/C0Db+DTQWo+NMTu2MdE/FptoTMZC0m9r9u+7468BAH4lbJWzH51nAAAAAElFTkSuQmCC" alt="Events"></span>

	<span class="label">
    <strong>Terminal</strong>

    
</span>
{% endblock %}

{% block panel %}
    <h2>Terminal</h2>
	<table>
	    <thead>
	        <tr>
	            <th scope="col">Command</th>
	            <th scope="col">Accion</th>
	        </tr>
	    </thead>
	    <tbody >
			<tr>
				<th>cache:clear</th>
				<td><a href="/app_dev.php/proccess/cache:clear"> Push</a></td>
			</tr>
			<tr>
				<th>assets:install</th>
				<td><a href="/app_dev.php/proccess/assets:install"> Push</a></td>
			</tr>
			<tr>
				<th>doctrine:schema:update</th>
				<td><a href="/app_dev.php/proccess/doctrine:schema:update --force">Push</a></td>
			</tr>
	    </tbody>
	</table>
{% endblock %}



